.product-card {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    height: 12vh;
    width: 37vw;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px #36454f70;
    margin: 10px;
    display: inline-flex;
}

.product-card-checkout {
    width: 52vw;
}

.product-add {
    background-color: #49682d96;
    float: right;
    border: unset;
    border-radius: 0px 5px 5px 0px;
    writing-mode: vertical-rl;
    color: white;
}

.product-add:hover {
    background-color: #49682de1;
}

.product-add:focus {
    border: unset;
  }

.product-description{
    font-size: 12px;
}
/* @media screen and (max-width:750px) {
    
} */

.product-image {
    height: 12vh;
    width: 12vh;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
}

.product-info{
    padding-top: 10px;
    margin-left: 2vh;
    display: inline-block;
    vertical-align: top;
    width: 60vw;
}

.product-name{
    font-weight: 800;
    font-size: 18px;
    margin-right: 1vw;
}

.product-price {
    float: right;
    margin-right: 10px;
    font-weight: 600;
}