.modal{
    z-index: 100;
    width: 60vw;
    height: 80vh;
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid #b7b2b2;
}

.item-count{
    font-size: 6vh;
}

.modal-inner{
    padding: 0px 20px;
    height:56vh;
    overflow-y: scroll;
}

.modal-title{
    height: 8vh;
    padding: 0px 20px;
    border-bottom: 1px solid #36454f70;
}

.modal-title h2 {
    width: 95%;
    display: inline-block;
}

.modal-title svg {
    display: inline-block;
}

.modal-footer{
    height:4vh;
}

.modal-button{
    width: 100%;
    height: 8vh;
    font-size: 36px;
    background-color: #49682d96;
    border: unset;
    border-radius: 0px 0px 5px 5px;
    color: white;
}

.modal-button:hover {
    background-color: #49682de1;
}

.total{
    border-top: 1px solid #36454f70;
    border-bottom: 1px solid #36454f70;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px
}

.total-sum{
    float: right;
    margin-right: 3vw;
}