@font-face {
  font-family: 'BRDCL';
  src: local('BRDCL'), url(./assets/fonts/Zetafonts\ -\ Blacker\ Pro\ Text\ Condensed\ Medium\ Italic.otf) format('otf');
}

.container-main {
  overflow-y: hidden;
  background-color: #e8e8e8;
  font-family: BRDCL;
}

.top-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  height: 30vw;
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  opacity: 0.2;
}

.my-orders {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 60px;
  width: 400px;
  height: 200px;
}
